@import url('https://fonts.googleapis.com/css?family=Open+Sans|Nova+Mono');
:root {
    --font-header: 'Nova Mono', monospace;
    --font-main: "Courier New", Courier, monospace;
    --animation-duration: 60s;

    --slate: #031319;
    --coral: #fe5f55;
    --shell: #eaeaea;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    font-family: var(--font-main);
    color: var(--shell);
    background: var(--slate);
    overflow: hidden;
}

.container {
    text-align: center;
    margin: 1rem 0.5rem 0;
}

.container h1 {
    font-family: var(--font-header);
    color: var(--coral);
    font-size: calc(4rem + 2vw);
    text-transform: uppercase;
}

.container p {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 2rem;
    margin: 1.5rem 0 3rem;
}

.ghost {
    position: absolute;
    bottom: 5px;
    left: calc(50% - 100px);
    width: 200px;
    height: 200px;
    animation: hoverGhost calc(var(--animation-duration)/2) ease-in-out 2;
}

.ghost:before {
    border-radius: 50%;
    position: absolute;
    bottom: 100%;
    text-align: center;
    line-height: 2;
    padding: 1rem;
    visibility: hidden;
    opacity: 0;
}

@keyframes hoverGhost {
    25% {
        transform: translateX(20vw);
    }
    75% {
        transform: translateX(-20vw);
    }
}