* {
    background-color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#img_firmenlogo {
    padding: 0;
    margin: 0;
    width: 400px;
}

#btn_search {
    align-self: center;
    border: none;
    width: 100px;
    height: 100px;
}

#img_search {
    width: 80px;
}

#div_result {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 8px !important;
}

#div_result p {
    border: black;
    border-style: solid;
    border-width: 1px;
    background-color: white;
    padding: 5px;
    margin: 15px;
    width: 50%;
}

#txt_name,
.title {
    align-self: center;
}

#img_person {
    width: 300px !important;
}

#separator {
    color: slategrey;
}

footer {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

#div_footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    display: flex;
    justify-content: space-between;
    color: whitesmoke;
    background-color: #00509A;
    height: 50px;
    width: 100%;
}

#div_footer p {
    background-color: #00509A;
    margin: 15px;
}

.footer_link {
    color: whitesmoke;
    background-color: #00509A;
    text-decoration: none;
}

.footer_link:hover {
    color: slategray;
}

#page {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;
}

.hidden {
    color: lightgray;
    /* display: none; */
}

.result_list {
    margin: 10px;
}

.result_list button {
    padding: 5px;
    background-color: #00509A;
    color: whitesmoke;
}

.impressum {
    margin: 10px;
}